$font-family: 'Candal', sans-serif;
$color-verde-marino: green;
$color-negro: black;
$color-blanco: white;
$color-negro: black;
$color-suscribir: rgb(6, 120, 50);
$color-secundario: rgb(68, 164, 59);
$color-gris: rgb(118, 113, 113);
